body{
  /* Don't worry about these properties just yet, they will make more sense later! */
  width:50%;
  margin:auto;
  background-color: #D5D3ED;

}

h1 {
  text-align: center;
  color: #3930AE;
  font-family: "Verdana";
}

#picture{
  width: 100%;
}

table {
  border-style: solid;
}

.header {
  width: 50%;
  /*background-color:yellow;*/
  display: inline-block;
  height:100px;
}

.weather{
  width: 50%;
  /*background-color: purple;*/
  display: inline-block;
  height:100px;
  float: right;
}




